#header{width: 100%;height: 280px;margin: auto;}
.inner{width: 1200px;margin: auto;}
#top-menu{height: 30px;}
.quick{position: relative;}
.quick > li{float: left;width: 120px;}
.quick img{margin:6px;}
.quick > li a,.login li a{font-size: 15px;line-height: 2;}
.center{position: absolute;width: 760px;height: 340px;z-index: 400;background: #fff;border: 1px solid #000;}
.center ul{width: 190px;float: left;}
.center ul li a{font-size: 14px;}
.benefit{position: absolute;z-index: 400;padding: 15px;border: 1px solid #000;background: #fff;}
.benefit li a{font-size: 14px;}
.login{float: right;}
.login li{float: left;margin-left: 20px;}

.main-header{position: relative;height: 165px;}
.search-list{width: 400px;height: 165px;float: left;}
.search{position: absolute;left: 0;top: 80px;width: 300px;height: 20px;}
.search input{position: absolute;left: 0;top: 0;z-index: 100;width: 84px;padding: 5px;float: left;text-align:center;}
.search ul{position: absolute;left: 0;top: 30px;z-index: 20;width: 80px;border: 2px solid #5e6b9e;}
.search li{background: #fff;}
.search-bar input{position: absolute;left: 84px;top: 0;width: 200px;float: right;}

.list{}
.product-list{overflow: hidden;position: absolute;left: 0;top: 40px;width: 260px;height: 25px;}
.product-list ul{width: 600px;}
.product-list li{float: left;margin: 0 5px;}
.product-list li a{font-size: 13px;}
.list-btn{position: absolute;left: 258px;top: 40px;background: #5e6b9e;color:#fff;width: 40px;}
.list-btn li{width: 20px;height: 20px;text-align: center;line-height: 1.3;float: left;cursor:pointer;}

.logo{width: 400px;float: left;}
.logo h1{position: absolute;left: 45%;top: 0;text-align: center;}

.page{position: absolute;right: 0;top: 0;width: 400px;height: 140px;}
.popular{}
.popular li{height: 140px;}
.popular a{}
.popular a img{position: absolute;right: 147px;top: 20px;width: 200px;height: 100px;}
.popular a p{position: absolute;right: 60px;top: 100px;font-size: 13px;}
.page p{position: absolute;right: 60px;top: 75px;}
.btn{position: absolute;right: 100px;top: 75px;background: #5e6b9e;color:#fff;}
.btn li{width: 20px;height: 20px;float: left;text-align: center;line-height: 1.3;}

#nav{width: 100%;height: 50px;background-image: url(../images/main/bg.png);background-repeat: repeat;background-position: 0 0;}
#nav.fix{position: fixed;top:0;z-index: 200;}
#gnb{float: left;}
.gnb li{float: left;margin-right: 20px;}
.gnb li:last-of-type{margin-right: 0;}
.gnb li a{font-size: 15px;color:#fff;line-height: 3.5;}
.best-list{float: right;margin-top: -37px;}
.best-list li{float: left;margin-left: 10px;}
.best-list li a{font-size: 13px;color:#fff;}


#footer{width: 100%;}
.inner-wrap{width: 1200px;margin: auto;}
.rolling{width: 100%;height: 40px;margin-bottom: 25px;padding: 10px;background: #c2c2c2;position: relative;}
.rolling p{float: left;font-size: 20px;width: 15%;line-height: 2;background: #5e6b9e;text-align: center;color:#fff;}
.rolling ul{float: right;width: 80%;}
.rolling ul li{line-height: 3;}

.notice{overflow: hidden;float: left;width: 50%;height: 40px;}
.notice ul{position: relative;}
.prize{overflow: hidden;float: right;width: 50%;height: 40px;}
.prize ul{position: relative;}


.undermenu{height: 300px;}
.undermenu ul{float: left;width: 20%;font-size: 15px;line-height: 2;}
.undermenu ul li{line-height: 2.3;}

.kyobo-info{height: 250px;line-height: 2;}
#footer h2{margin: auto;width: 200px;height: 100px;}
.left-footer{float: left;width: 50%;}
.right-footer{float: right;width: 50%;}

.end-menu{position: relative;background: #6d6d6d;color:#fff;height: 70px;}
.end-menu ul{height: 40px;}
.end-menu ul li{float: left;margin-right: 15px;line-height: 5;}

#footer fieldset{position: absolute;right:280px;top: 23px;}







